{% extends 'base.html' %}
{% block content %}
    <h1>Class Feed for {{ class_.class_code }}</h1>
    
    {% if current_user.role == 'teacher' %}
    <a class="link purple" href="{{ url_for('create_message', class_id=class_.id) }}">Send a New Message</a>
    {%endif%}
    <div class="message-container">
        {% for message in messages %}
            <div class="message-box">
                <h1>{{ message.teacher.username }}</h1>
                 <h2>{{ message.timestamp }}</h2>
                 <p style="white-space: pre-line">{{ message.content }}</p>
            </div>
        {% endfor %}
        </div>
{% endblock %}