{% extends "base.html" %}

{% block content %}
    <h1>Create Assignment for Class: {{ class_.name }}</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(rows=4, cols=32) }}<br>
            {% for error in form.description.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.due_date.label }}<br>
            {{ form.due_date() }}<br>
            {% for error in form.due_date.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
