{% extends "base.html" %}
{% block content %}
<div class="center-container">
    <h2>Submission for {{ submission.assignment.title }}</h2>

    
    
        <iframe id="student-website" style="width:100%; height:600px; border:0.08rem solid #000;border-radius: 4px"></iframe>
        <script>
            const htmlContent = `{{html_content | safe}}`;
            const cssContent = `{{css_content | safe}}`;
            const jsContent = `{{js_content | safe}}`;
        </script>
        <script src="{{ url_for('static', filename='js/iframe.js') }}" defer></script>
        <form method="POST">
            <div class="form-group">
                <label for="grade">Grade</label><br>
                <input type="text" class="form-control" id="grade" name="grade" value="{{ submission.grade }}">
            </div><br>
            <div class="form-group">
                <label for="feedback">Feedback</label><br>
                <textarea style="width: 30%" class="form-control" id="feedback" name="feedback">{{ submission.feedback }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Grade</button>
        </form>

    </div>

    
{% endblock %}