{% extends "base.html" %}
{% block content %}
<div class="center-container">
    <h2>Submit Assignment: {{ assignment.title }}</h2><br>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.html_file.label }} <br>{{ form.html_file() }} <br><br>
        </div>
        <div class="form-group">
            {{ form.css_file.label }} <br>{{ form.css_file() }} <br><br>
        </div>
        <div class="form-group">
            {{ form.js_file.label }} <br>{{ form.js_file() }} <br><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit Assignment</button>
    </form>
</div>
{% endblock %}
