{% extends "base.html" %}
{% block content %}
<div class="center-container teacher-dashboard">
    <h2>Your Classes</h2>
    <div class="box-container">
        {% for class_ in classes %}
            <div class="box">
                <p>{{ class_.class_code }}</p>
                <br>
                <a class='link ' href="{{ url_for('view_class_feed', class_id=class_.id) }}">View Feed</a><br><br>
                <a class="link" href="{{ url_for('create_assignment', class_id=class_.id) }}">Create Assignment</a>
                <br><br>
                <a class='link' href="{{ url_for('view_assignments', class_id=class_.id) }}">View Assignments</a>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
