{% extends "base.html" %}
{% block content %}
<div class="center-container ">
<h2>Assignment: {{ assignment.title }}</h2><br>

<p>{{assignment.description}}</p><br>
<p>Due on: {{assignment.deadline}}</p><br>

<p class="smalltext">Submitted by {{ total_submissions }} student(s).</p>

<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>Submission Time</th>
            <th>Grade</th>
            <th>Feedback</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission.student.username }}</td>
            <td>{{ submission.timestamp }}</td>
            <td>{{ submission.grade }}</td>
            <td class="feedback">{{ submission.feedback }}</td>
            <td>
                {% if submission.grade == None and submission.feedback == None %}
                    <a class="link green" href="{{ url_for('view_submission', submission_id=submission.id) }}">Mark</a>
                {% else %}
                    <a class="link yellow" href="{{ url_for('view_submission', submission_id=submission.id) }}">Edit</a>
                {% endif %}
                |
                <form action="{{ url_for('delete_submission', submission_id=submission.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btnlink link red" onclick="return confirm('Are you sure you want to delete this submission?');">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}