{% extends "base.html" %}
{% block content %}
<div class="center-container view-assignments">
    <h1>Assignments</h1>

    {% if assignments|length == 0 %}
        <p>No assignments have been created for this class yet.</p>
    {% else %}
    <div class="assignment-box-container">
            {% for assignment in assignments %}
                <div class="assignment-box">
                    <div class="">
                        <h2>{{ assignment.title }}</h2>
                        <p>Due: {{ assignment.deadline }}</p>
                        {% if current_user.role == 'teacher' or current_user.role == 'admin' %}
                        <a class="link" href="{{ url_for('view_submissions', assignment_id=assignment.id) }}" class="btn">View Submissions</a>
                        {% else %}
                        <a class="link" href="{{ url_for('submit_assignment', assignment_id=assignment.id) }}" class="btn">Submit</a>
                        <a class="link" href="{{ url_for('student_view_submission', assignment_id=assignment.id) }}" class="btn">View My Submissions</a>
                        {% endif %}
                        <!-- Optionally add other details or links -->
                    </div>
                </div>
            {% endfor %}</div>
    {% endif %}
</div>
{% endblock %}


{% if assignments.has_prev %}
    <a href="{{ url_for('view_assignments', class_id=class_.id, page=assignments.prev_num) }}">Previous</a>
{% endif %}

<span>Page {{ assignments.page }} of {{ assignments.pages }}</span>

{% if assignments.has_next %}
    <a href="{{ url_for('view_assignments', class_id=class_.id, page=assignments.next_num) }}">Next</a>
{% endif %}
